body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    width: 300px;
  }
  input:focus {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    width: 300px;
    background-color: rgb(40, 12, 152);
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
  }
  