label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  